In [16]:
salarios_and_anno = [(83000, 8.7), (88000, 8.1),
(48000, 0.7), (76000, 6),
(69000, 6.5), (76000, 7.5),
(60000, 2.5), (83000, 10),
(48000, 1.9), (63000, 4.2)]

In [17]:
from matplotlib import pyplot as mp
salaries=[]
tenuaries=[]
for i,j in salarios_and_anno:
    print(j)
    salaries.append(i)
    tenuaries.append(j)

8.7
8.1
0.7
6
6.5
7.5
2.5
10
1.9
4.2

In [18]:
from collections import defaultdict

diciono=defaultdict(list)
for i,j in salarios_and_anno:
    diciono[j].append(i)
print(diciono)

defaultdict(<class 'list'>, {8.7: [83000], 8.1: [88000], 0.7: [48000], 6: [76000], 6.5: [69000], 7.5: [76000], 2.5: [60000], 10: [83000], 1.9: [48000], 4.2: [63000]})

In [19]:
average_salary_by_tenure = {
tenure: sum(salaries) / len(salaries)
for tenure, salaries in diciono.items()
}

print(average_salary_by_tenure)

{8.7: 83000.0, 8.1: 88000.0, 0.7: 48000.0, 6: 76000.0, 6.5: 69000.0, 7.5: 76000.0, 2.5: 60000.0, 10: 83000.0, 1.9: 48000.0, 4.2: 63000.0}

In [20]:
def tenure_bucket(tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "between two and five"
    else:
        return "more than five"

 
salary_by_tenure_bucket = defaultdict(list)
for salary, tenure in salarios_and_anno:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

print(salary_by_tenure_bucket)

defaultdict(<class 'list'>, {'more than five': [83000, 88000, 76000, 69000, 76000, 83000], 'less than two': [48000, 48000], 'between two and five': [60000, 63000]})

'''Salarios y experiencia
Justo cuando se iba a comer, el vicepresidente de Relaciones Públicas le
pregunta si le puede suministrar datos curiosos sobre lo que ganan los
científicos de datos. Los datos de sueldos son, por supuesto, confidenciales,
pero se las arregla para conseguir un conjunto de datos anónimo que contiene
el salario (salary) de cada usuario (en dólares) y su antigüedad en el puesto
(tenure) como científico de datos (en años):'''